configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: " ";
    display-run: " ";
    display-window: " ";
    drun-display-format: "{name}";
}

@theme "~/.config/rofi/theme.rasi"
